<div class="side-nav">
  <div (click) = "toggleMenu()" class="nav-menu" >
    <div class="bar"></div>
     <div class="bar"></div>
     <div class="bar"></div>
    </div>
     &nbsp;
    <div class="HeaderText"> Menu </div>
    <div class="mydashboard">My dashboard</div>
    <div class="options">Receipts</div>
    <div class="options">Recipients</div>
    <div class="options">Service Requests</div>
    <div class="options">Profile and settings</div>
    <div class="options">Scheduled payments</div>

    <div class="options last">Open a bank account</div>
</div>